<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin.css">
    </style>
   
</head>
<body>
                <% if (admin!=null) { %>
                <div class="adminHeader">
                        <li >欢迎您，<%= admin.name %></li>
                        <li><a href="adminLogout">退出</a></li>
                </div>
                        <!-- <li><a href="/publish">发表</a></li> -->
                        <!-- <li><a href="/logout">退出</a></li> -->
                        
                        
                <% } %>
        
        <div class="main">
            <div class="left">
                <div class="leftTitle"><h1>菜单</h1></div>
                <div class="leftContent">
                    <ul class="leftList">
                        <li><a href="/admin/adminindex">录入页</a></li>
                        <li><a href="#">列表页</a></li>
                        <!-- <li><a href="#">录入页</a></li>
                        <li><a href="#">录入页</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="rightHead">
                        <span>列表页</span>
                </div>
                <div class="rightContent">
                    <div class="table-responsive">
                    <!-- <form   id="myform" name="myform" > -->
                    <table class="table table-bordered table-hover" >
                        <tbody>
                        <tr>
                            <th >电影名称</th>
                            <th>上映时间</th>
                            <th>简介</th>
                            <th>操作</th>
                        </tr>
                        <!-- <%for(var i=0;i<list.length;i++){%> -->
                            <tr class=<%="item"+list[i].num%>>
                                <td><%=list[i].movieName%></td>
                                <td><%=list[i].calendar%></td>
                                <td><%=list[i].aContent%></td>
                                <td><button class="delete btn btn-warning" data-id=<%=list[i].num%>>删除</button></td>
                            </tr>
                        <!-- <%}%> -->
                        
                            
                        </tbody></table>
                <!-- </form> -->
                </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery-3.1.0.js"></script>
        <script src="/js/delete.js"></script>
</body>
</html>